.message-box {
    padding: 10px;
    border: 1px solid #424f5b;
    background-color: #f9f9f9;
    width: 500px;
    margin: 0 auto;
}

.message-box h2 {
    margin-top: 0;
    color: maroon;
}

.message-box p {
    margin: 10px;
    border-bottom: 1px solid grey;
}

.message-box button {
    display: block;
    margin: 15px auto;
}

.message-box button:hover {
    background-color: #424f5b;
    color: white;
}
