.message-box {
    padding: 5px;
    border: 1px solid #424f5b;
    background-color: #f9f9f9;
    width: 400px;
    margin: 0 auto;
}

.message-box h4 {
    margin-top: 0;
    color: maroon;
}

.message-box p {
    margin: 10px;
    border-bottom: 1px dotted grey;
}

.message-box button {
    display: block;
    margin: 5px auto;
}

.message-box button:hover {
    background-color: #424f5b;
    color: white;
}
