/* HeroesComponent's private CSS styles */
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-hero-detail {
  padding: 30px 60px;
  margin-right: 10%;
}

.heroes-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes-list li {
  display: flex;
}

.heroes-list button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.heroes-list button:hover {
  color: #2c3a41;
  background-color: #a1c7c7;
  left: .1em;
}

.heroes-list button:active {
  background-color: #006363;
  color: #fafafa;
}

.heroes-list button.selected {
  background-color: black;
  color: white;
}

.heroes-list button.selected:hover {
  background-color: #505050;
  color: white;
}

.heroes-list button.selected:active {
  background-color: black;
  color: white;
}

.heroes-list .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes-list .name {
  align-self: center;
}